<!doctype html>
<html>
<head>
    <title>Verzuz</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>



    <div class="row">

        <!-- LOCAL INFORMATION 
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>-->

        <div class="col-6 col-sm-4">
          <h3>Digitial VERZUZ</h3>
          <p>Beyonce VS. the late Aaliyah</p><!--Note to self: I really like this project idea, need to improve, maybe make it where I can put videos or audio-->
          <!--<p>Let's compare the lyrics</p>-->
          <ul class="verses">
          <% for(var i=0; i<verses.length; i++) {%>
            <li class="verses">
              <span><%= verses[i].name %></span>
              <span><%= verses[i].entry %></span>
              
            </li>
          <% } %>
          </ul>

          <h2></h2>
        <% if (user.local.email) { %>
          <form action="/verses" method="POST">
            <input type="text" placeholder="artist" name="name">
            <input type="text" placeholder="lyric" name="entry">
            <button type="submit">Sing!</button>
          </form>
          <button id="update">Battle</button><!--Note to self: I need to get better at bootstrap to fix position of buttons-->
        <button id="delete">Give Beyonce Her Flowers</button><!--Note to self: this is a working draft, looking forward to making it better, where Aaliyah lyrics will update , a people can vote for favorite artist-->
        </div>
        <% } %>
        <!--using https://zellwk.com/blog/crud-express-mongodb/ as a guide for this project
       <div>
         <h2>Aaliyah's Turn</h2>
          <p>Aaliyah Once said...</p>
          <button id="update">Battle</button>
       </div>

        <div>
          <h2>But Beyonce is Here</h2>
          <p>so let's give her, her flowers</p>
          <button id="delete">Delete Aaliyah lyrics</button>
        </div>
      <div id ="message"></div>-->
        

</div>

<script src="main.js"></script>

</body>
</html>
